### Build Output ###
target/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Logs ###
*.log

### Environment Variables ###
.env
.env.*
!.env.example

### OS Files ###
.DS_Store
Thumbs.db

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/